{{ template "inc/header.tmpl" . }}
	{{ $isadmin := .IsAdmin }}
	{{ $user := .User }}
	{{ $grmember := .GroupMember }}
	{{ $group := .Group }}
	{{ $this := . }}

	{{ user_image_link .UI .User.GetUserName .User.GetFullName "right" }}
	{{ pfform .UI .User . true }}

	{{ template "user/detail_list.tmpl" . }}
	{{ template "user/language_list.tmpl" . }}

	<h1>Group {{ .Group.GetGroupName }}</h1>
	<table>
	<tbody>
	<tr><th>Email address:</th><td>{{ ($user.GetPriEmail $.UI false).Email }}</td></tr>
	</tbody>
	</table>

	{{ if $isadmin }}
	<h2>Admin functions for {{ .User.GetUserName }}</h2>
		{{ template "group/member_cmd.tmpl" dict "This" $this "UI" $.UI "GroupMember" $grmember "Group" $group }}
	{{ end }}

	<h2>Vouches by {{ .User.GetUserName }}</h2>

	<table>
	<thead>
	<tr>
		<th colspan="2">Vouchee</th>
		<th>Affiliation</th>
		<th>Entered</th>
		<th>Comment</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>{{ range $i, $vouch := .VouchOut }}
		{{ if $vouch.MyVouch }}
		{{ csrf_form $.UI "" }}
		<tr>
			<td>{{ user_image_link $.UI $vouch.Vouchee $vouch.VoucheeName "" }}</td>
			<td>{{ group_home_link $.UI $vouch.GroupName $vouch.Vouchee $vouch.VoucheeName }}</a></td>
			<td>{{ $vouch.VoucheeAffiliation }}</td>
			<td>{{ fmt_time $vouch.Entered }}</td>
			<td><label for="TriVouch-comment"></label>
				<textarea id="TriVouch-comment" name="comment">{{ $vouch.Comment }}</textarea>
			</td>
			<td class="styled_form">
				<input type="hidden" name="action" value="vouch_edit"></input>
				<input type="hidden" name="group" value="{{ $vouch.GroupName }}"></input>
				<input type="hidden" name="vouchor" value="{{ $vouch.Vouchor }}"></input>
				<input type="hidden" name="vouchee" value="{{ $vouch.Vouchee }}"></input>
				<label for="TriVouch-button"></label>
				<input id="TriVouch-button" type="submit" value="Update Vouch" name="button"></input>
				</form>

			{{ csrf_form $.UI "" }}
				<input type="hidden" name="action" value="remove"></input>
				<input type="hidden" name="group" value="{{ $vouch.GroupName }}"></input>
				<input type="hidden" name="vouchor" value="{{ $vouch.Vouchor }}"></input>
				<input type="hidden" name="vouchee" value="{{ $vouch.Vouchee }}"></input>
				<label for="TriVouch-button"></labl>
				<input id="TriVouch-button" type="submit" value="Delete Vouch" name="button"></input>
				</form>
			</td>
		</tr>
		{{ else }}
			<tr>
			<td>{{ user_image_link $.UI $vouch.Vouchee $vouch.VoucheeName "" }}</td>
			<td>{{ group_home_link $.UI $vouch.GroupName $vouch.Vouchee $vouch.VoucheeName }}</a></td>
			<td>{{ $vouch.VoucheeAffiliation }}</td>
			<td>{{ fmt_time $vouch.Entered }}</td>
			<td>{{ $vouch.Comment }}</td>
			<td>&nbsp;</td>
		</tr>
		{{ end }}
	{{ end }}</tbody>
	</table>

	<h2>Vouches for {{ .User.GetUserName }}</h2>

	<table>
	<thead>
	<tr>
		<th colspan="2">Vouchor</th>
		<th>Affiliation</th>
		<th>Entered</th>
		<th>Comment</th>
		<th>Actions</th>

	</tr>
	</thead>
	<tbody>{{ range $i, $vouch := .VouchIn }}
		{{ if $vouch.MyVouch }}
		{{ csrf_form $.UI "" }}
		<tr>
			<td>{{ user_image_link $.UI $vouch.Vouchor $vouch.VouchorName "" }}</td>
			<td>{{ group_home_link $.UI $vouch.GroupName $vouch.Vouchor $vouch.VouchorName }}</a></td>
			<td>{{ $vouch.VouchorAffiliation }}</td>
			<td>{{ $vouch.Entered }}</td>
			<td><label for="TriVouch-comment"></label>
				<textarea id="TriVouch-comment" name="comment">{{ $vouch.Comment }}</textarea>
			</td>
			<td class="styled_form">
				<input type="hidden" name="action" value="vouch_edit"></input>
				<input type="hidden" name="group" value="{{ $vouch.GroupName }}"></input>
				<input type="hidden" name="vouchor" value="{{ $vouch.Vouchor }}"></input>
				<input type="hidden" name="vouchee" value="{{ $vouch.Vouchee }}"></input>
				<label for="TriVouch-button"></label>
				<input id="TriVouch-button" type="submit" value="Update Vouch" name="button"></input>
				</form>
				{{ csrf_form $.UI "" }}
				<input type="hidden" name="action" value="vouch_remove"></input>
				<input type="hidden" name="group" value="{{ $vouch.GroupName }}"></input>
				<input type="hidden" name="vouchor" value="{{ $vouch.Vouchor }}"></input>
				<input type="hidden" name="vouchee" value="{{ $vouch.Vouchee }}"></input>
				<label for="TriVouch-button"></label>
				<input id="TriVouch-button" type="submit" value="Delete Vouch" name="button"></input>
				</form>
			</td>
		</tr>
		{{ else }}
		<tr>
			<td>{{ user_image_link $.UI $vouch.Vouchor $vouch.VouchorName "" }}</td>
			<td>{{ group_home_link $.UI $vouch.GroupName $vouch.Vouchor $vouch.VouchorName }}</a></td>
			<td>{{ $vouch.VouchorAffiliation }}</td>
			<td>{{ $vouch.Entered }}</td>
			<td>{{ $vouch.Comment }}</td>
			<td>&nbsp;</td>
		</tr>
		{{ end }}
	{{ end }}</tbody>
	</table>

	{{ if .CanVouch }}
		<h2>Vouch For {{ .User.GetUserName }}</h2>
		{{ pfform .UI .VouchAdd . true }}
	{{ end }}
{{ template "inc/footer.tmpl" . }}
