debian/trident/
debian/trident-cli/
debian/trident-server/
debian/trident-wikiexport/
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/files
ext/*
*.swp
src/cmd/tcli/tcli
src/cmd/tridentd/tridentd
src/cmd/tsetup/tsetup
