{{template "inc/header.tmpl" .}}
	<h2>Add a new Nomination:</h2>

	<ul>
	<li>Nominate: {{ .Vouchee }}</li>
	<li>For group: {{ .GroupName }}</li>
	</ul>

	{{ csrf_form .UI (print "/user/" .Vouchor "/group/" .GroupName "/vouch/" .Vouchee "/nominate") }}
		<fieldset>
		<ul>
		<li>
			<label for="vouch">Vouch:</label>
			<textarea id="vouch" name="comment" ></textarea>
			<span class="form_hint">Vouch for this user</span>
		<li>
		{{ range $i, $att := .Attestations }}
		<li>
			<label for="attestation-{{ $att.Ident }}">{{ $att.Ident }}</label>
			{{ $att.Descr }}
			<input id="attestation-{{ $att.Ident }}" type="checkbox" name="attestation-{{ $att.Ident }}"></input>
		</li>
		{{ end }}
		<li>
			<label for="button">&nbsp;</label>
			<input type="submit" name="button" value="Nominate" />
		</li>
		</ul>
		</fieldset>
	</form>

{{template "inc/footer.tmpl" .}}
