{{template "inc/header.tmpl" .}}
{{template "inc/search.tmpl" .}}

	{{ $this := . }}
	{{ $isadmin := .IsAdmin }}
	{{ $group := .Group }}
	<table>
	<thead>
	<tr>
		<th>Image</th>
		<th>Username</th>
		<th>Full name</th>
		<th>Email</th>
		<th>Affiliation</th>
		<th>Admin</th>
		<th>Status</th>
		<th>Activity</th>
		<th>Vouches</th>
		{{ if $isadmin }}
		<th>Actions</th>
		{{ end }}
	</tr>
	</thead>
	<tbody>{{ range $i, $grmember := .GroupMembers }}
	<tr>
		<td>{{ user_image_link $.UI $grmember.GetUserName $grmember.GetFullName "" }}</td>
		<td>{{ group_home_link $.UI $group.GetGroupName $grmember.GetUserName $grmember.GetUserName }}</td>
		<td>{{ $grmember.GetFullName }}</td>
		<td><a href="mailto:{{ $grmember.GetEmail }}">{{ $grmember.GetEmail }}</a>{{ if $grmember.HasPGP }}<span title="Member has a PGP key">&psi;</span>{{ end }}</td>
		<td>{{ $grmember.GetAffiliation }}</td>
		<td>{{ $grmember.GetGroupAdmin }}</td>
		<td>{{ $grmember.GetGroupState }}</td>
		<td>{{ $grmember.GetActivity }}d</td>
		<td>
		{{ if gt $grmember.GetVouchesForMe 0 }}<b>{{ $grmember.GetVouchesBy }}(by)</b>{{ else }}{{ $grmember.GetVouchesBy }}(by){{ end }} -&gt;
		{{ if gt $grmember.GetVouchesByMe 0 }}<b>{{ $grmember.GetVouchesFor }}(for)</b>{{ else }}{{ $grmember.GetVouchesFor }}(for){{ end }}
		</td>
		{{ if $isadmin }}
		<td>
			{{ template "group/member_cmd.tmpl" dict "This" $this "UI" $.UI "GroupMember" $grmember "Group" $group }}
		</td>
		{{ end }}
	</tr>
	{{ end }}</tbody></table>

	<p>
		(<b>Bold</b>) = includes vouch for or by you; &psi; = has PGP key
	</p>

{{template "inc/pager.tmpl" .}}

{{template "inc/footer.tmpl" .}}
