{{template "inc/header.tmpl" .}}
{{template "inc/search_email.tmpl" .}}

{{ if ne .Search "" }}
{{ if .NotFound }}
	<h2>Add a new Nomination:</h2>
	{{ pfform .UI .NewForm .NewForm true }}
{{ else }}
	<h2>Nominate and vouch:</h2>

	<table>
	<thead>
	<tr>
		<th>Username</th>
		<th>Full Name</th>
		<th>Email address</th>
		<th>Affiliation</th>
		<th>Actions</th>
	</tr>
	<thead>
	<tbody>
{{ $theuser := .TheUser }}
{{ $grp := .GroupName }}
{{ range $id, $user := .Users }}
	<tr>
		<td>{{ $user.GetUserName }}</td>
		<td>{{ $user.GetFullName }}</td>
		<td>
{{ if $user.GetHideEmail }}
[Email Hidden]
{{ else }}
{{ $user.GetPriEmailString $.UI false }}
{{ end }}
		</td>
		<td>{{ $user.GetAffiliation }}</td>
		<td>
			{{ if eq $user.GetUserName $theuser.GetUserName }}
			(You)
			{{ else }}
			{{ if $user.IsMember $.UI $grp }}
			(Already a member)
			{{ else }}
			{{ csrf_form $.UI (print "/group/" $grp "/nominate_existing/") }}
				<fieldset>
					<input type="hidden" name="vouchee" value="{{ $user.GetUserName }}" />
					<input type="submit" name="button" value="Select" />
				</fieldset>
			</form>
			{{ end }}
			{{ end }}
		</td>
	</tr>{{ end }}
	</tbody>
	</table>
{{ end }}
{{ end }}

{{template "inc/footer.tmpl" .}}
