{{template "inc/header.tmpl" .}}

	<h2>Nominate an existing user</h2>

	<ul>
	<li>Nominate: {{ .Vouchee }}</li>
	<li>For group: {{ .GroupName }}</li>
	</ul>

	{{ pfform .UI .NominateAdd .NominateAdd true }}

{{template "inc/footer.tmpl" .}}
