{{template "inc/header.tmpl" .}}
{{template "inc/search_email.tmpl" .}}

	<p>
		Nominate and Vouch:
	</p>

	<table>
	<thead>
	<tr>
		<th>Username</th>
		<th>Full Name</th>
		<th>Email address</th>
		<th>Affiliation</th>
		<th>Actions</th>
	</tr>
	<thead>
	<tbody>
{{ $theuser := .TheUser }}
{{ $ui := .UI }}
{{ $grp := .GroupName }}
{{ range $id, $user := .Users }}
	<tr>
		<td>{{ $user.GetUserName }}</td>
		<td>{{ $user.GetFullName }}</td>
		<td>
{{ if $user.GetHideEmail }}
[Email Hidden]
{{ else }}
{{ $user.GetPriEmailString $ui false }}
{{ end }}
		</td>
		<td>{{ $user.GetAffiliation }}</td>
		<td>
			{{ if eq $user.GetUserName $theuser.GetUserName }}
			(You)
			{{ else }}
			{{ if $user.IsMember $ui $grp }}
			(Already a member)
			{{ else }}
			{{ csrf_form $ui (print "/group/" $grp "/nominate_existing/") }}
				<fieldset>
					<input type="hidden" name="vouchee" value="{{ $user.GetUserName }}" />
					<input type="submit" name="button" value="Select" />
				</fieldset>
			</form>
			{{ end }}
			{{ end }}
		</td>
	</tr>{{ end }}
	</tbody>
	</table>

{{ if .NotFound }}
	<h2>Add a new Nomination:</h2>
	{{ pfform $ui .NewForm . true }}
{{ end }}

{{template "inc/footer.tmpl" .}}
